{% comment %} WORKING LETS GOOO {% endcomment %}
{% comment %} SAMIP REGMI {% endcomment %}
{% comment %} AUGUST 25 {% endcomment %}
<h1>{{ event.title }}</h1>
<p>{{ event.description }}</p>
<p>Date: {{ event.date }}</p>
<p>Location: {{ event.location }}</p>
{% if event.banner_image %}
    <img src="{{ event.banner_image.url }}" alt="{{ event.title }}">
{% endif %}
{% if event.event_guest_speaker_image %}
    <img src="{{ event.event_guest_speaker_image.url }}" alt="Guest Speaker">
{% endif %}
{% if event.additional_image %}
    <img src="{{ event.additional_image.url }}" alt="Additional Image">
{% endif %}
{% if event.registration_link %}
    <p><a href="{{ event.registration_link }}" class="btn btn-primary">Register Here</a></p>
{% endif %}
