# AUGUST 25
# SAMIP REGMI

db.sqlite3
*.pyc
__pycache__/

/dsproject/__pycache__/
/dsproject/migrations/
/index_app/migrations/
/index_app/__pycache__/
/signin_app/migrations/
/signin_app/__pycache__/
/signup_app/migrations/
/signup_app/__pycache__/
/signout_app/migrations/
/signout_app/__pycache__/
/admin_app/migrations/
/admin_app/__pycache__/
/sql_db/migrations/
/sql_db/__pycache__/
/admin_eventregister/migrations/
/admin_eventregister/__pycache__/
/admin_eventedit/migrations/
/admin_eventedit/__pycache__/
/admin_eventdelete/migrations/
/admin_eventdelete/__pycache__/
/event_app/migrations/
/event_app/__pycache__/
/media/
