# AUGUST 25
# SAMIP REGMI

db.sqlite3
db.sqlite3-journal
*.pyc
__pycache__/

/dsproject/__pycache__/
/dsproject/migrations/
/index_app/migrations/
/index_app/__pycache__/
/signin_app/migrations/
/signin_app/__pycache__/
/signup_app/migrations/
/signup_app/__pycache__/
/signout_app/migrations/
/signout_app/__pycache__/
/admin_app/migrations/
/admin_app/__pycache__/
/sql_db/migrations/
/sql_db/__pycache__/
/admin_eventregister/migrations/
/admin_eventregister/__pycache__/
/admin_eventedit/migrations/
/admin_eventedit/__pycache__/
/admin_eventdelete/migrations/
/admin_eventdelete/__pycache__/
/event_app/migrations/
/event_app/__pycache__/
/delete_image/migrations/
/delete_image/__pycache__/
/members_list/migrations/
/members_list/__pycache__/
/blog_app/migrations/
/blog_app/__pycache__/
/list_blogs/migrations/
/list_blogs/__pycache__/
/blog_details/migrations/
/blog_details/__pycache__/
/user_blogs/migrations/
/user_blogs/__pycache__/
/create_forum/migrations/
/create_forum/__pycache__/
/forum_details/migrations/
/forum_details/__pycache__/
/list_forums/migrations/
/list_forums/__pycache__/
/create_forum_question/migrations/
/create_forum_question/__pycache__/
/forum_question_details/migrations/
/forum_question_details/__pycache__/
/answer_forumquestion/migrations/
/answer_forumquestion/__pycache__/
/media/

.env