{% comment %} AUGUST 25 SAMIP REGMI {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% if user.is_staff %}
        <a href="{% url 'admin' %}">Admin Page</a>
    {% endif %}
    <form action="{% url 'signout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Sign Out</button>
    </form>
</body>
</html>